.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.container98 {
  background: rgba(255, 255, 255, 1);
  filter: drop-shadow(0px 0px 0.5px rgba(22, 25, 30, 0.07))
    drop-shadow(0px 0px 1px rgba(22, 25, 30, 0.119));
  width: 1048px;
  height: 506px;
  display: block;
  flex-shrink: 0;
  border-radius: 6px;
}
.performanceMetrics {
  display: block;
  font-size: 32px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 48px;
  color: rgba(49, 54, 66, 1);
  position: absolute;
  top: 4px;
  left: 24px;
  transform: skew(-0.057295760414500616deg, 0deg);
  transform-origin: top left;
}
.table5 {
  background: rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0px 0.5px rgba(255, 255, 255, 1),
    inset 0px 0px 0px 0.5px rgba(255, 255, 255, 1);
  width: 378px;
  height: 240px;
  display: block;
  position: absolute;
  top: 242px;
  right: 24px;
  overflow: hidden;
  border-radius: 4px;
}
.row {
  background: rgba(0, 0, 0, 0);
  width: 100vw;
  height: 25%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
}
.frame {
  background: rgba(255, 255, 255, 1);
  width: 8.46%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
  overflow: hidden;
}
.svg__k26LR {
  object-fit: cover;
  max-width: 100vw;
  color: #119746;
  transform: skew(-0.057295760414500616deg, 0deg);
  width: 16px;
  height: 16px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 22px;
  left: 4px;
  overflow: hidden;
}
.frame2 {
  background: rgba(255, 255, 255, 1);
  width: 48.8%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0%;
  left: 8.46%;
  overflow: hidden;
}
.solved {
  display: block;
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 22px;
  color: rgba(49, 54, 66, 1);
  position: absolute;
  top: 19px;
  left: 0px;
  width: 177px;
  transform: skew(-0.057295760414500616deg, 0deg);
  transform-origin: top left;
}
.frame3 {
  background: rgba(255, 255, 255, 1);
  transform: translate(-0.5px, 0px);
  width: 42.72%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0%;
  left: 57.4%;
  overflow: hidden;
}
.text__lZbTt {
  display: block;
  font-size: 14px;
  text-align: right;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 22px;
  color: rgba(110, 118, 134, 1);
  position: absolute;
  top: 19px;
  right: 16px;
  width: 130px;
  transform: skew(-0.057295760414500616deg, 0deg) translate(-0.5px, 0px);
  transform-origin: top left;
}
.row2 {
  background: rgba(0, 0, 0, 0);
  width: 100vw;
  height: 25%;
  display: block;
  position: absolute;
  top: 25%;
  left: 0%;
}
.frame4 {
  background: rgba(255, 255, 255, 1);
  width: 8.46%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
  overflow: hidden;
}
.svg__yRckS {
  object-fit: cover;
  max-width: 100vw;
  color: #62cd14;
  transform: skew(-0.057295760414500616deg, 0deg);
  width: 16px;
  height: 16px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 22px;
  left: 4px;
  overflow: hidden;
}
.frame5 {
  background: rgba(255, 255, 255, 1);
  width: 48.8%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0%;
  left: 8.46%;
  overflow: hidden;
}
.unsolved {
  display: block;
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 22px;
  color: rgba(49, 54, 66, 1);
  position: absolute;
  top: 19px;
  left: 0px;
  width: 177px;
  transform: skew(-0.057295760414500616deg, 0deg);
  transform-origin: top left;
}
.frame6 {
  background: rgba(255, 255, 255, 1);
  transform: translate(-0.5px, 0px);
  width: 42.72%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0%;
  left: 57.4%;
  overflow: hidden;
}
.text__rUcMc {
  display: block;
  font-size: 14px;
  text-align: right;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 22px;
  color: rgba(110, 118, 134, 1);
  position: absolute;
  top: 19px;
  right: 16px;
  width: 130px;
  transform: skew(-0.057295760414500616deg, 0deg) translate(-0.5px, 0px);
  transform-origin: top left;
}
.row3 {
  background: rgba(0, 0, 0, 0);
  width: 100vw;
  height: 25%;
  display: block;
  position: absolute;
  top: 50%;
  left: 0%;
}
.frame7 {
  background: rgba(255, 255, 255, 1);
  transform: translate(-0.5px, 0px);
  width: 42.72%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0%;
  left: 57.4%;
  overflow: hidden;
}
.text___9IWzw {
  display: block;
  font-size: 14px;
  text-align: right;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 22px;
  color: rgba(110, 118, 134, 1);
  position: absolute;
  top: 19px;
  right: 16px;
  width: 130px;
  transform: skew(-0.057295760414500616deg, 0deg) translate(-0.5px, 0px);
  transform-origin: top left;
}
.frame8 {
  background: rgba(255, 255, 255, 1);
  width: 8.46%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
  overflow: hidden;
}
.svg__dmSbm {
  object-fit: cover;
  max-width: 100vw;
  color: #8fe8b3;
  transform: skew(-0.057295760414500616deg, 0deg);
  width: 16px;
  height: 16px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 22px;
  left: 4px;
  overflow: hidden;
}
.frame9 {
  background: rgba(255, 255, 255, 1);
  width: 48.8%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0%;
  left: 8.46%;
  overflow: hidden;
}
.pending {
  display: block;
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 22px;
  color: rgba(49, 54, 66, 1);
  position: absolute;
  top: 19px;
  left: 0px;
  width: 177px;
  transform: skew(-0.057295760414500616deg, 0deg);
  transform-origin: top left;
}
.row4 {
  background: rgba(0, 0, 0, 0);
  width: 100vw;
  height: 25%;
  display: block;
  position: absolute;
  top: 75%;
  left: 0%;
}
.frame10 {
  background: rgba(255, 255, 255, 1);
  transform: translate(-0.5px, 0px);
  width: 42.72%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0%;
  left: 57.4%;
  overflow: hidden;
}
.text__utVf {
  display: block;
  font-size: 14px;
  text-align: right;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 22px;
  color: rgba(110, 118, 134, 1);
  position: absolute;
  top: 19px;
  right: 16px;
  width: 130px;
  transform: skew(-0.057295760414500616deg, 0deg) translate(-0.5px, 0px);
  transform-origin: top left;
}
.frame11 {
  background: rgba(255, 255, 255, 1);
  width: 48.8%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0%;
  left: 8.46%;
  overflow: hidden;
}
.others {
  display: block;
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 22px;
  color: rgba(49, 54, 66, 1);
  position: absolute;
  top: 19px;
  left: 0px;
  width: 177px;
  transform: skew(-0.057295760414500616deg, 0deg);
  transform-origin: top left;
}
.frame12 {
  background: rgba(255, 255, 255, 1);
  width: 8.46%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
  overflow: hidden;
}
.svg___1HRxq {
  object-fit: cover;
  max-width: 100vw;
  color: #ccf7ae;
  transform: skew(-0.057295760414500616deg, 0deg);
  width: 16px;
  height: 16px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 22px;
  left: 4px;
  overflow: hidden;
}
.columnBarChart1 {
  background: rgba(0, 0, 0, 0);
  height: 340px;
  display: block;
  position: absolute;
  top: 106px;
  left: 64px;
  right: 469px;
}
.svg__vJix {
  object-fit: cover;
  max-width: 100vw;
  color: #dee1e6;
  width: 515px;
  height: 282px;
  display: block;
  position: absolute;
  top: 58px;
  left: 0px;
}
.chart {
  transform: translate(-0.25px, 0px);
  width: 464px;
  height: 282px;
  display: block;
  position: absolute;
  top: 58px;
  left: 26px;
}
.rectangle {
  background: rgba(20, 170, 255, 1);
  transform: translate(0px, -0.2680000000000007px);
  width: 9.52%;
  height: 38.65%;
  display: block;
  position: absolute;
  top: 61.7%;
  left: 0%;
}
.rectangle2 {
  background: rgba(184, 228, 255, 1);
  width: 9.52%;
  height: 61.7%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
}
.rectangle3 {
  background: rgba(20, 170, 255, 1);
  transform: translate(-0.10800000000000409px, -0.06100000000000705px);
  width: 9.52%;
  height: 50.7%;
  display: block;
  position: absolute;
  top: 49.64%;
  left: 15.1%;
}
.rectangle4 {
  background: rgba(184, 228, 255, 1);
  transform: translate(-0.10800000000000409px, 0px);
  width: 9.52%;
  height: 49.64%;
  display: block;
  position: absolute;
  top: 0%;
  left: 15.1%;
}
.rectangle5 {
  background: rgba(20, 170, 255, 1);
  transform: translate(-0.2150000000000034px, 0.4259999999999877px);
  width: 9.52%;
  height: 13.12%;
  display: block;
  position: absolute;
  top: 86.87%;
  left: 30.2%;
}
.rectangle6 {
  background: rgba(184, 228, 255, 1);
  transform: translate(-0.2150000000000034px, -0.410000000000025px);
  width: 9.52%;
  height: 10.63%;
  display: block;
  position: absolute;
  top: 76.59%;
  left: 30.2%;
}
.rectangle7 {
  background: rgba(20, 170, 255, 1);
  transform: translate(-0.32200000000000273px, -0.4550000000000125px);
  width: 9.52%;
  height: 49.29%;
  display: block;
  position: absolute;
  top: 51.06%;
  left: 45.3%;
}
.rectangle8 {
  background: rgba(184, 228, 255, 1);
  transform: translate(-0.32200000000000273px, 0.03899999999998727px);
  width: 9.52%;
  height: 10.28%;
  display: block;
  position: absolute;
  top: 40.78%;
  left: 45.3%;
}
.rectangle9 {
  background: rgba(20, 170, 255, 1);
  transform: translate(-0.4289999999999736px, 0.396000000000015px);
  width: 9.52%;
  height: 13.82%;
  display: block;
  position: absolute;
  top: 86.17%;
  left: 60.41%;
}
.rectangle10 {
  background: rgba(184, 228, 255, 1);
  transform: translate(-0.4289999999999736px, -0.11899999999999977px);
  width: 9.52%;
  height: 28.01%;
  display: block;
  position: absolute;
  top: 58.51%;
  left: 60.41%;
}
.rectangle11 {
  background: rgba(20, 170, 255, 1);
  transform: translate(0.46399999999999864px, 0.3240000000000123px);
  width: 9.52%;
  height: 34.75%;
  display: block;
  position: absolute;
  top: 65.24%;
  left: 75.29%;
}
.rectangle12 {
  background: rgba(184, 228, 255, 1);
  transform: translate(0.46399999999999864px, 0.08299999999999841px);
  width: 9.52%;
  height: 53.9%;
  display: block;
  position: absolute;
  top: 11.7%;
  left: 75.29%;
}
.rectangle13 {
  background: rgba(20, 170, 255, 1);
  transform: translate(0.35700000000002774px, 0.036000000000001364px);
  width: 9.52%;
  height: 31.91%;
  display: block;
  position: absolute;
  top: 68.08%;
  left: 90.39%;
}
.rectangle14 {
  background: rgba(184, 228, 255, 1);
  transform: translate(0.35700000000002774px, -0.40500000000000114px);
  width: 9.52%;
  height: 17.37%;
  display: block;
  position: absolute;
  top: 51.06%;
  left: 90.39%;
}
.frame13 {
  background: rgba(0, 0, 0, 0);
  width: 259px;
  height: 22px;
  display: block;
  position: absolute;
  top: 0px;
  left: 128px;
}
.group {
  width: 72px;
  height: 22px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.svg___2OvZw {
  object-fit: cover;
  max-width: 100vw;
  color: #15abff;
  transform: skew(-0.057295760414500616deg, 0deg);
  width: 12px;
  height: 12px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 5px;
  left: 0px;
}
.services {
  display: block;
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 22px;
  color: rgba(22, 25, 30, 1);
  position: absolute;
  top: 0px;
  left: 16px;
}
.group2 {
  width: 123px;
  height: 22px;
  display: block;
  position: absolute;
  top: 0px;
  left: 94px;
}
.svg__ohdu4 {
  object-fit: cover;
  max-width: 100vw;
  color: #b9e5ff;
  transform: skew(-0.057295760414500616deg, 0deg);
  width: 12px;
  height: 12px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 5px;
  left: 0px;
}
.passengerSatisfaction {
  display: block;
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 22px;
  color: rgba(22, 25, 30, 1);
  position: absolute;
  top: 0px;
  left: 16px;
}
.group37 {
  width: 15px;
  height: 292px;
  display: block;
  position: absolute;
  top: 154px;
  left: 24px;
}
.text__bqgcA {
  display: block;
  font-size: 12px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(143, 148, 160, 1);
  position: absolute;
  top: 272px;
  left: 0px;
  transform: skew(-0.057295760414500616deg, 0deg);
  transform-origin: top left;
}
.text__p8MI {
  display: block;
  font-size: 12px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(143, 148, 160, 1);
  position: absolute;
  top: 204px;
  left: 0px;
  transform: skew(-0.057295760414500616deg, 0deg);
  transform-origin: top left;
}
.text__okwVn {
  display: block;
  font-size: 12px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(143, 148, 160, 1);
  position: absolute;
  top: 136px;
  left: 0px;
  transform: skew(-0.057295760414500616deg, 0deg);
  transform-origin: top left;
}
.text___8DtIr {
  display: block;
  font-size: 12px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(143, 148, 160, 1);
  position: absolute;
  top: 68px;
  left: 0px;
  transform: skew(-0.057295760414500616deg, 0deg);
  transform-origin: top left;
}
.text__w3JkC {
  display: block;
  font-size: 12px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(143, 148, 160, 1);
  position: absolute;
  top: 0px;
  left: 0px;
  transform: skew(-0.057295760414500616deg, 0deg);
  transform-origin: top left;
}
.text__w1Cl {
  display: block;
  font-size: 12px;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(143, 148, 160, 1);
  position: absolute;
  top: 462px;
  left: 88px;
  right: 830px;
  transform: skew(-0.057295760414500616deg, 0deg);
  transform-origin: top left;
}
.text__tmu2J {
  display: block;
  font-size: 12px;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(143, 148, 160, 1);
  position: absolute;
  top: 462px;
  left: 149px;
  right: 772px;
  transform: skew(-0.057295760414500616deg, 0deg);
  transform-origin: top left;
}
.text__mbsfa {
  display: block;
  font-size: 12px;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(143, 148, 160, 1);
  position: absolute;
  top: 462px;
  left: 206px;
  right: 709px;
  transform: skew(-0.057295760414500616deg, 0deg);
  transform-origin: top left;
}
.text__vGuE {
  display: block;
  font-size: 12px;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(143, 148, 160, 1);
  position: absolute;
  top: 462px;
  left: 269px;
  right: 652px;
  transform: skew(-0.057295760414500616deg, 0deg);
  transform-origin: top left;
}
.text__loxMn {
  display: block;
  font-size: 12px;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(143, 148, 160, 1);
  position: absolute;
  top: 462px;
  left: 325px;
  right: 603px;
  transform: skew(-0.057295760414500616deg, 0deg);
  transform-origin: top left;
}
.text___3ZYtW {
  display: block;
  font-size: 12px;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(143, 148, 160, 1);
  position: absolute;
  top: 462px;
  left: 375px;
  right: 549px;
  transform: skew(-0.057295760414500616deg, 0deg);
  transform-origin: top left;
}
.text__lfwrU {
  display: block;
  font-size: 12px;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(143, 148, 160, 1);
  position: absolute;
  top: 462px;
  left: 430px;
  right: 491px;
  transform: skew(-0.057295760414500616deg, 0deg);
  transform-origin: top left;
}
.breakdownByStatus {
  display: block;
  font-size: 16px;
  font-family: "Lexend", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 26px;
  color: rgba(22, 25, 30, 1);
  position: absolute;
  top: 106px;
  right: 265px;
  transform: skew(-0.057295760414500616deg, 0deg);
  transform-origin: top left;
}
.text__vE91K {
  display: block;
  font-size: 12px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(143, 148, 160, 1);
  position: absolute;
  top: 174px;
  right: 383px;
  transform: skew(-0.057295760414500616deg, 0deg);
  transform-origin: top left;
}
.text__xMAgd {
  display: block;
  font-size: 12px;
  text-align: right;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(143, 148, 160, 1);
  position: absolute;
  top: 174px;
  right: 24px;
  transform: skew(-0.057295760414500616deg, 0deg);
  transform-origin: top left;
}
.rectangle15 {
  background: rgba(16, 151, 70, 1);
  transform: skew(-0.057295760414500616deg, 0deg);
  width: 209px;
  height: 32px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 140px;
  right: 193px;
}
.rectangle16 {
  background: rgba(97, 204, 19, 1);
  transform: skew(-0.057295760414500616deg, 0deg);
  width: 88px;
  height: 32px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 140px;
  right: 105px;
}
.rectangle17 {
  background: rgba(142, 232, 178, 1);
  transform: skew(-0.057295760414500616deg, 0deg);
  width: 29px;
  height: 32px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 140px;
  right: 76px;
}
.rectangle18 {
  background: rgba(204, 246, 173, 1);
  transform: skew(-0.057295760414500616deg, 0deg);
  width: 52px;
  height: 32px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 140px;
  right: 24px;
}
